/*-----------------------------------
    Navigation css
-------------------------------------*/


.nav-bar {
background-color: #3498db;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;


}

.nav-bar > li {
  flex: 0.5;
  margin: 20px;
}

.nav-opts {
  display:inline-block;
  align-items: center;
}

.nav li {
  display: inline-block;
  margin-right: -4px;

}


.nav-link {
  text-decoration:none;
  text-transform:uppercase;
  /*background:#a9a9a9;*/
  color:#ffffff;
  padding:0.5em;

}

.nav-link:hover{
  background:#ff4f00;
  color:#ffffff;
}

.top-area {
    background: #3498db; none repeat scroll 0 0;


  }

  /*-----------------------------------
       Text css
  -------------------------------------*/
  fieldset{



  }




  h1 {
    text-align: center;
  }
  .half {
    float: left;
    width: 50%;
    padding: 0 1em;
  }

  body {
      color: #2c3e50;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 400;
      font-color: #545977;
      line-height: 1.6em;
      background-color: #ecf0f1;
      height: 125vh;
      margin top: 0px;
  }


.img-block{
max-width: 40%;
display: block;
float: left;
padding: 0 0 40px 40px;

}
